.container {
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    width: 80vw;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 1s ease;
}

.content:hover {
    box-shadow: 0 0 15px white;
}

.left-side {
    position: absolute;
    top: 5%;
    left: 0;
    width: 30%;
    height: 100%;
    display: block;
    text-align: center;
}

.topic {
    font-weight: 900;
    font-size: 20px;
}

.address div {
    color: hsl(0, 3%, 22%);
}

.address  {
    transform: translateY(25px);
}

.address i {
    color: rgba(0, 0, 0, 0.6);
}

.phone {
    transform: translateY(50px);
}

.phone div {
    color: #000;
}

.phone i {
    color: rgba(0, 0, 0, 0.6); 
}

.email {
    transform: translateY(75px);
}

.email div {
    color: #000;
}

.email i {
    color: rgba(0, 0, 0, 0.6);
}
.line {
    position: absolute;
    border: 1px solid;
    border-color: black;
    height: 70%;
    left: 33%;
}
.right-side {
    position: absolute;
    left: 40%;
    top: 9%;
}

.right-side .heading h2 {
    color: rgba(0, 0, 0, 0.6);
}

.right-side .discription {
    color: #000;
}

.form-01 form input {
    width: 80%;
    margin-top: 8px;
    line-height: 1.5;
    border: none;
    background-color: rgba(195, 195, 195, 0.84);
    padding: 3px;
    border-radius: 6px;
}

.form-01 form input::placeholder{
    color: #fff;
    font-size: 13px;
}

.form-01 form textarea::placeholder{
    color: #fff;
    font-size: 13px;
}

.form-01 form input:nth-child(1) {
    margin-top: 10px;
}

.form-01 form textarea {
    width: 80%;
    margin-top: 8px;
    border: none;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 6px;
    background-color: rgba(195, 195, 195, 0.84);
}

.form-01 form button {
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 9px 25px 9px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 8px;
    transform: translate(10px, 6px);
    font-weight: 900;
    transition: all 0.30s ease;
}

.form-01 form button:hover {
    background-color: rgba(4, 4, 4, 0.788);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')